.About {
  width: 100vw;
  background-color: hsl(210, 56%, 21%);
  margin-top: 10rem;
  padding: 10rem 0;
}

.About-main {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.About-heading {
  color: white;
  font-size: clamp(2rem, 3.5vw, 2.75rem);
}

.About-color {
  color: #81fefd;
}

.About-text {
  color: hsl(0, 0%, 87%);
  font-size: 1.15rem;
  line-height: 160%;
}
