.Details {
  width: 100vw;
  background-color: hsl(251, 50%, 12%);
  padding: 10rem 0;
}

.Details-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.Details-1 {
  flex: 1;
  padding-right: 1rem;
  border-right: solid 1px rgba(202, 202, 202, 0.212);
  padding-bottom: 1rem;
  position: relative;
}
.Details-2 {
  padding-left: 1rem;
  padding-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}


@media (min-width:900px){
.Details-1 {
  flex: 1;
  padding: 3rem 2rem;
  position: relative;
  border-radius: 10px;
  background-color: hsl(209, 85%, 26%);
}
.Details-2 {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(209, 85%, 26%);
}
}


.Details-heading {
  font-size: clamp(2rem, 3.5vw, 2.75rem);
  margin-bottom: 1.5rem;
  color: white;
}

.Details-text {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  line-height: 160%;
  list-style-position: inside;
  color: hsl(0, 0%, 87%);
  font-size: 1.1rem;
}

.Details-stage-1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem 0;
}

.Details-stage-2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem 0;
}

.Details-subheading {
  color: white;
  font-size: clamp(1.25rem, 4vw, 2rem);
}

.Details-color {
  color: #81fefd;
}

.Details-date {
  color: #81fefd;
  font-size: 1.15rem;
  font-weight: 700;
}

.Details-date * {
  vertical-align: text-bottom;
}

@media screen and (max-width: 900px) {
  .Details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .Details-1 {
    border-bottom: solid 1px rgba(202, 202, 202, 0.212);
    padding: 0;
    padding-bottom: 2rem;
  }
  .Details-2 {
    padding: 0;
    padding-top: 2rem;
  }
}
