.footer{
  width: 100vw;
  padding: 20px ;
  background-color: black;
  color: white;
}
.footer-container{
  display: flex;
  flex-direction: column;
  padding: 3vh;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo-gfg{
    width: clamp(42vw,180px,50vw);
    height: auto;
}
.further-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-left{
    display: flex;
    flex-direction: column;
}
.contact-us{
    padding-top: 5vh;
    color: #81fefd;
    font-weight: 700;
    font-size: 23px;
}
.footer_FooterContact{
    padding: 10px;
    gap: 1rem;
}
.footer_FooterContactItems{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.footer_FooterFilledLinks{
    text-decoration: none;
    color: white;
}
.footer_FooterSocial{
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_FooterSocial h3{
    color: #81fefd;
    font-size: 22px;

}
.footer_FooterSocialItems{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_FooterFilledLinks{
    padding: 8px;
}


