.Hero {
  margin-top: 3rem;
}

.Hero-container {
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Hero-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.Hero-main-text {
  font-size: clamp(45px, 7vw, 85px);
  font-family: "Staatliches", cursive;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 400;
  color: #ffffff;
}

.Hero-main-color {
  color: #81fefd;
}

.Hero-side {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Hero-side img {
  height: 100%;
}

.Hero-btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: #81fefd;

  font-family: "Ambit", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;

  color: black;
  border-radius: 10px;
}

.Sponsor-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sponsor {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.Sponsor-logo {
  width: 100%;
}

.Sponsor-text {
  color: #81fefd;
}

@media screen and (max-width: 900px) {
  .Hero-side {
    display: none;
  }

  .Hero-main {
    width: 100%;
  }

  .Hero-main-text {
    font-size: clamp(45px, 10vw, 75px);
  }

  .Sponsor {
    width: 90%;
  }
}
