.Prizes {
  margin-top: 10rem;
}

.Prizes-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  max-width: 1200px;
  margin: auto;
}

.First,
.Second,
.Third {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  flex: 1;
  gap: 1rem;
  padding: 2rem;
  border-radius: 30px;
}
.First {
  padding: 5rem 2rem;
  background-color: #f4e04d;
}
.Second {
  padding: 3rem 2rem;
  background-color: hsl(0, 1%, 81%);
}
.Second > .Prizes-heading {
  font-size: clamp(2.25rem, 3.5vw, 2.75rem);
}

.Third {
  padding: 3rem 2rem;
  background-color: #e49342;
}
.Third > .Prizes-heading {
  font-size: clamp(2.25rem, 3.5vw, 2.75rem);
}

.Prizes-heading {
  font-family: "Staatliches", cursive;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: clamp(2.5rem, 3.5vw, 3.25rem);
  margin-bottom: 1rem;
}

.Prizes-text {
  font-size: 1.5rem;
  padding: 0 1rem;
}

@media screen and (max-width: 700px) {
  .Prizes-main {
    flex-direction: column;
    gap: 1rem;
  }

  .Prizes-heading {
    font-size: clamp(1.75rem, 4vw, 3rem);
  }

  .First,
  .Second,
  .Third {
    flex: 1;
    gap: 0.65rem;
    padding: 2rem;
    border-radius: 30px;
  }

  .Prizes-text {
    font-size: 1rem;
    padding: 0;
  }

  .First {
    order: -1;
    width: 100%;
    background-color: #f4e04d;
  }
  .Second {
    width: 95%;
    background-color: hsl(0, 1%, 81%);
  }

  .Second > .Prizes-heading {
    font-size: clamp(1.5rem, 4vw, 2.75rem);
  }

  .Third {
    background-color: #e49342;
    width: 95%;
  }
  .Third > .Prizes-heading {
    font-size: clamp(1.5rem, 4vw, 2.75rem);
  }
}
